.randomchar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
  height: 360px;
}

.randomchar__changeable {
  padding: 30px 30px;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.raiting {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  margin: 0px;
}

.raiting__span {
  color: #9f0013;
}

.randomchar__img {
  width: 200px;
  object-fit: cover;
}

.randomchar__info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
}

.name {
  font-weight: bold;
  font-size: 22px;
  line-height: 29px;
  text-transform: uppercase;
  margin: 0;
}

.description {
  width: 260px;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
}

.randomchar__btns {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.randomchar__static {
  padding: 35px 40px;
  background-color: #232222;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.randomchar__textContainer {
  display: flex;
  flex-direction: column;
  gap: 33px;
}

.randomchar__title {
  display: flex;
  flex-direction: column;
}

.randomchar__text {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.045em;
  color: #ffffff;
  margin: 0;
}

.randomchar__decoration {
  position: absolute;
  bottom: 14px;
  right: -37px;
}

.link {
  text-decoration: none;
  color: white;
}
