.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgb(247, 216, 176);
  width: 100%;
}

.link {
  font-weight: bold;
  font-size: 28px;
  line-height: 37px;
  margin: 0;
  text-decoration: none;
  color: black;
}

.link__span {
  color: #9f0013;
}
